.waterfall1{
  position: absolute;
  top:0px;
  left:0px;
  width:33.333vw;
  height:100px;
  background-image: linear-gradient(orange, red);
  animation-name: drip; 
  animation-duration: 8s;
  animation-iteration-count: infinite;

}
.waterfall2{
  position: absolute;
  top:0px;
  left:33.333vw;
  width:33.333vw;
  height:100px;
  background-image: linear-gradient(red, pink); 
  animation-name: drip;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}
.waterfall3{
  position: absolute;
  top:0px;
  left:66.666vw;
  width:33.333vw;
  height:100px;
  background-image: linear-gradient(pink, purple); 
  animation-name: drip;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes drip{
  0%{
height:100px;
  }
50%{
  height:100vh;
}

100%{
  height:100px;
}
.waterfall1.alarm {
  background-image: linear-gradient(green, blue) !important;
}
.waterfall2.alarm{
  background-image: linear-gradient(blue, purple) !important;
}




